.browse-page{
    min-height: calc(100vh - 110px);
    background: url('./img/cutting-board-2.jpg');
    background-size: cover;
}

.browse-content{
    margin-left: 10%;
    margin-top: 1em;
}

.browse-select-recipe{
    list-style: none;
    background-color: #FCFBF4;
    float:left;
    clear:left;
    width: auto;
    color: black;
    padding: 0.5em;
    margin-bottom: 0.25em;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.browse-select-recipe:hover{
    box-shadow: inset #8080808f 0px 0px 60px -12px;
}