.home-page{
    min-height: calc(100vh - 110px);
    background: url('./img/background-1.jpg');
    background-size:cover;
    color: #FCFBF4;
    text-shadow: 0 0 2px #000;
}

.home-content{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 10em;
    min-width: calc(36em + 70px);
    width: 50%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px; 
    text-align: center;
}

.home-content h2{
    margin: 0;
}

.home-description{
    min-height: 80px;
    margin-bottom: 10px;
}

.home-links{
    display: flex;
    justify-content: space-around; 
}

.home-links button{
    white-space: nowrap;
    padding: 0.5em;
    min-width: 8em;
    background-color: #FCFBF4;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.home-links button:hover{
    box-shadow: inset #808080a1 0px 0px 60px -12px;

}

/* CSS FOR SMARTPHONES */
@media only screen and (max-width: 600px) {
    
    .home-page{
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
        min-height: calc(100vh - 142px);
        max-height: calc(100vh - 142px);
    }
    .home-content{
        top: auto;
        margin-top: 5vw;
        margin-bottom: auto;
        min-width: 90vw;
        padding-left: 0;
        padding-right: 0;
    }
    .home-description{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .home-links{
        text-align: center;
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr;
        row-gap: 1.5vh;
    }
    .home-links button{
        width: 85vw;
    }
}

/* CSS FOR TABLETS */
@media only screen and (min-device-width : 601px) and (max-device-width : 1024px) {
    .home-page{
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
        min-height: calc(100vh - 171px);
        max-height: calc(100vh - 171px);
        overflow: hidden;
    }
    .home-content{
        top: auto;
        margin-top: 5vw;
        margin-bottom: auto;
        min-width: 90vw;
        padding-left: 0;
        padding-right: 0;
    }
    .home-description{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .home-links{
        text-align: center;
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr;
        row-gap: 1.5vh;
    }
    .home-links button{
        width: 85vw;
    }
}