/* CSS FOR SMALL MOBILE */
@media only screen and (max-width: 600px) {
    .master{
        min-width: 100vw;
        max-width: 100vw;
        height: 100vh;
    }
}

/* CSS FOR TABLET */
@media only screen and (min-device-width : 601px) and (max-device-width : 1024px) {
    .master{
        min-width: 100vw;
        max-width: 100vw;
        height: 100vh;
    }
}

button:active{
    box-shadow: inset #4e4e4ec9 0px 0px 60px -12px;
}
