.profile-page{
    min-height: calc(100vh - 110px);
    background: url('./img/cutting-board-4.jpg');
    background-size: cover;
}

.profile-content{
    margin-left: 10%;
    margin-top: 1em;
}

.profile-select-recipe{
    list-style: none;
    background-color: #FCFBF4;
    float:left;
    clear:left;
    width: auto;
    color: black;
    padding: 0.5em;
    margin-bottom: 0.25em;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.profile-select-recipe:hover{
    box-shadow: 0 4px 2px -2px gray;
}

.profile-select-recipe:active{
    box-shadow: inset #4e4e4ec9 0px 0px 60px -12px;
}

/* CSS FOR SMALL MOBILE */
@media only screen and (max-width: 600px) {
    .profile-page {
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
        min-height: calc(100vh - 142px);
        max-height: auto;
        overflow: hidden;
    }
}