/* .recipe-card{
    margin-left: 2em;
} */

.recipe-page{
    min-height: calc(100vh - 110px);
    background: url('./img/cutting-board-2.jpg');
    background-size: cover;
    overflow: hidden;
}

.recipe-card{
    position: relative;
    left: 25%;
    top: 1em;
    width: 50%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    
}


.add-favourite-button{
    color: black;
}

.remove-favourite-button{
    color:#FFD43B
}

.add-favourite-button:hover{
    cursor:pointer;
    color: #ffc800
}

.remove-favourite-button:hover{
    cursor: pointer;
    color:#ffc800
}

